* {
  color: white;
}

.testing-color {
  color: black;
}

.app__main {
  display: flex;
  height: 100%;
}

.main__container {
  background-color: #0E0E10;
  display: flex;
  align-items: center;
  flex-direction: column;
}

::-webkit-scrollbar {
  display: none;
}
