* {
  color: white;
}


.app__main {
  background-color: #0E0E10;
  display: flex; /*change soon*/
}

.main__color {
  background-color: #0E0E10;
  margin-left: 50px;
}

/* ::-webkit-scrollbar {
  display: none;
} */
