* {
  color: white;
}

.testing-color {
  color: white;
}

.app__main {
  display: flex;
  background-color: #0E0E10;
}

.main__container {
  background-color: #0E0E10;
}

::-webkit-scrollbar {
  display: none;
}