.carousel-player {
  position: absolute;
  top: 0;
  z-index: 10;
  max-height: 590px;
  max-width: 1030px;
}

.car-wrapper {
  position: relative;
  padding-top: 56.25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}

.car-button {
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0 5px;
  border-radius: 10px;
  cursor: pointer;
}

.car-button:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

.car-button-active {
    background-color: #6d96ff;
}

.car-stream {
    background-color: #6d96ff;
    padding: 5px;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 5px;
    color: #fff;
    text-decoration: none !important;
}

@media screen and (min-width: 1100px) {
  .car-wrapper {
    padding-top: 580px;
  }
}
