.detail_wrapper {
  max-height: 20px;
}

.twitch__card {
  width: 180px;
  text-decoration: none !important;
}

.category__title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 8px;
  width: fit-content;
}

.category__title:hover,
.category_viewers:hover {
  color: #6d96ff;
}

.category_viewers {
  font-size: 14px;
  margin-left: 8px;
  width: fit-content;
}

.card__image {
  height: 250px;
  width: 180px;
}

.card_wrapper {
  float: left;
  text-align: left;
}

.card__link {
  position: relative;
  border-bottom: 5px solid #0e0e10;
  border-left: 5px solid #0e0e10;
  float: left;
  margin: 3px;
}

.card__link:hover {
  border-bottom: 5px solid #6d96ff;
  border-left: 5px solid #6d96ff;
  position: relative;
  top: -5px;
  right: -5px;
  border-radius: 5px;
}

