/* .stream__info__container {
  margin-left: 30px;
  width: 320px;
  text-align: center;
  margin: auto;
} */

/* .stream__info__container * {
    text-decoration: none;
  } */

/* .image__thumb {
  width: 300px ;
  height: 180px ;
  cursor: pointer;
} */

.margin__fix {
  margin-bottom: 0.37rem;
}

.fix__padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.fix__padding:hover {
  background-color: #292930;
  border-radius: 5px;
  transition: 0.3s ease;
}

@media screen and (max-width: 440px) {
  .fix__padding {
    padding: 0 !important;
  }
}
/* old code above */

.stream_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.stream_container > * {
  width: 100%;
}

.stream__wrapper {
  text-align: center;
  padding: 7px;
  max-width: 400px;
}

.image__thumb {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border-bottom: 4px solid #0e0e10;
  border-left: 4px solid #0e0e10;
}

.image__thumb:hover {
  border-bottom: 4px solid #6d96ff;
  border-left: 4px solid #6d96ff;
  top: -4px;
  right: -4px;
  position: relative;
  border-radius: 5px;
}

.streamerLink {
  text-decoration: none !important;
}

.stream_profile {
    display: flex;
}

.stream__title {
  overflow: hidden;
  max-height: 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: left;
}

.streamer__name {
  font-size: 14px;
  text-align: left;
  width: fit-content;
}

.stream__title:hover, .streamer__name:hover {
  color: #6d96ff;
}

.profile__pic {
    object-fit: contain;
    margin-right: 5px;
    width: 45px;
    border-radius: 50%;
    height: 45px;
    border: 3px solid #0e0e10;
}

.profile__pic:hover {
    border: 3px solid #6d96ff;
}

@media (min-width: 600px) {
  .stream__wrapper {
    width: 50%;
  }
}

@media (min-width: 850px) {
  .stream__wrapper {
    width: 33%;
  }
}

@media (min-width: 1250px) {
  .stream__wrapper {
    width: 25%;
  }
}

@media (min-width: 1500px) {
  .stream__wrapper {
    width: 20%;
  }
}

@media (min-width: 1800px) {
  .stream__wrapper {
    width: 16%;
  }
}

@media (max-width: 320px) {
  .stream__wrapper {
    min-width: 280px;
  }
}
