.title__container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.title__container> h1 {
    margin: 20px;
    font-size: 4em;
}

.title__container> p {
    font-size: 2em;
}