.watchScreen__player {
    margin: 15px;
    height: 70vh;
}

.views__publish {
    display: flex;
}

.views__publish > i {
    margin-left: 10px;
    margin-right: 10px;
}

.divider__line {
    border: 1px solid #2f2f35;
    width: 100%;
    margin: 30px 30px;
}

.watchVideo__name {
    font-size: 16px;
    color: #6196ff;
}

.watchVideo__title {
    font-size: 16px;
}

.profile__pic {
    object-fit: contain;
    margin-right: 5px;
    width: 60px;
    border-radius: 50%;
    height: 60px;
}

.btnContainer > * {
    margin-left: 10px;
}

.saveButton {
    font-weight: bold;
    font-size: 15px;
    outline: none;
    border: none;
    height: 35px;
    padding: 6px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #6D96FF 50%, #6D96FF 50%, #FE4880);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    width: 125px;
}

.saveButton:hover {
    cursor: pointer;
    background-position: 100% 0%;
}

@media screen and (max-width: 769px) {
    .watchScreen__player {
        height: 50vh;
    }
}

@media screen and (max-width: 500px) {
    .watchScreen__player {
        height: 40vh;
    }
}

@media screen and (max-width: 350px) {
    .watchScreen__player {
        height: 30vh;
    }
}